:root {
    --light : #00A5CF;
    --main-saturated : #09618D;
    --main : #2C548B;
    --dark : #111D4A;
    --black : #1E1E24;
    --white : #ffffff;
    --accent-light : #FFB400;
    --accent-regular : #FB830F;
    --accent-dark : #F6511D;
    --complementary-light : #5F5894;
    --complementary-dark : #4F4789;
}

body {
    margin:0;
    background-image:url('../assets/img/background.jpg');
}