img{
    object-fit:cover;
    height:100%;
    width:100%;
}

.cs-display {
    height:60vh;
    display:flex;
    flex-direction:row;

    .vsContainer{
        height:100%;
        width:20%;

        img{
            object-fit:contain;
        }
    }

    .splashContainer{
        height:100%;
        width:40%;
        position:relative;

        .playerSplash{
            img{
                object-fit:contain;
                height:100%;
                position:absolute;
                z-index:1;
                left:-25%;
            }
            ul{
                z-index:2;
                position:absolute;
                right:0;
                height:90%;
                width:50%;

                .charName{
                    font-size:3rem;
                    color:var(--accent-light);
                    text-align:center;
                }

                .charAbilities, .charDesc{
                    color:var(--light);
                    background-color:var(--main);
                    border:2px solid var(--light);
                }
            }
        }
    }
}

.cs-l {
    height:50vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:1rem;

    .cs-btn {
        height:150px;
        width:150px;
        overflow:hidden;
        position:relative;
        box-sizing:border-box;

        &:hover {
            cursor:pointer;
            border:2px solid var(--accent-light);
            transition:all 0.1s;
            .cs-name{
                color:var(--accent-light);
                border:1px solid var(--accent-light);
            }
        }

        .cs-name{
            background-color:var(--dark);
            color:var(--light);
            box-sizing:border-box;
            border:1px solid var(--light);
            position:absolute;
            bottom:0px;
            width:100%;
            text-align:center;
        }

    }
}