

.cs-display {
    height:50vh;
}

.cs-l {
    height:50vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:1rem;

    .cs-btn {
        height:150px;
        width:150px;
        overflow:hidden;
        position:relative;
        box-sizing:border-box;

        &:hover {
            cursor:pointer;
            border:2px solid var(--accent-light);
            transition:all 0.1s;
            .cs-name{
                color:var(--accent-light);
                border:1px solid var(--accent-light);
            }
        }

        img{
            object-fit:cover;
            height:100%;
            width:100%;
        }

        .cs-name{
            background-color:var(--dark);
            color:var(--light);
            box-sizing:border-box;
            border:1px solid var(--light);
            position:absolute;
            bottom:0px;
            width:100%;
            text-align:center;
        }

    }
}